@model Repository.EntityModel.book
@{
    ViewBag.Title = "Book";
}

<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">
            @Model.Title - <small><a href="/BookAdmin">Böcker</a></small>
        </h1>
    </div>
</div>
<div class="row">
    <div class="col-md-8 col-md-offset-2">
        @using (Html.BeginForm("Update", "BookAdmin"))
        {
            @Html.HiddenFor(m => m.ISBN)
            <div class="form-group">
                <label>ISBN</label>
                @Html.TextBoxFor(m => m.ISBN, new { @class = "form-control", @disabled = "disabled" })
            </div>
            <div class="form-group">
                <label>Titel</label>
                @Html.TextBoxFor(m => m.Title, new { @class = "form-control" })
            </div>
            <div class="form-group">
                <label>Publikationsår</label>
                @Html.TextBoxFor(m => m.PublicationYear, new { @class = "form-control" })
            </div>
            <div class="form-group">
                <label>Publikationsinformation</label>
                @Html.TextAreaFor(m => m.publicationinfo, new { @class = "form-control" })
            </div>
            <div class="form-group">
                <label>Antal sidor</label>
                @Html.TextBoxFor(m => m.pages, new { @class = "form-control", @type="number" })
            </div>
            <div class="form-group">
                <input type="submit" value="Uppdate" class="btn btn-warning" />
                <button type="submit" class="btn btn-danger pull-right" form="form-remove-book">Ta bort</button>
            </div>
        }

        @using (Html.BeginForm("Remove", "BookAdmin", FormMethod.Post, new { @id = "form-remove-book" }))
        {
            @Html.HiddenFor(m => m.ISBN)
            @Html.HiddenFor(m => m.pages)
            @Html.HiddenFor(m => m.publicationinfo)
            @Html.HiddenFor(m => m.PublicationYear)
            @Html.HiddenFor(m => m.SignId)
            @Html.HiddenFor(m => m.Title)
        }
    </div>
</div>