@model MurvasBokhandel.Models.Mockup

@{
    ViewBag.Title = "Borrow Section";
}

<h2>Lånade böcker</h2>
<div>
        <table class="table table-striped table-hover">
            <th class="info">
                <font size="5">Titeln</font>
            </th>
            <th class="info">
                <font size="5">Författare</font>

            </th>
            <th class="info">
                <font size="5">ISBN</font>
            </th>
            <th class="info">
                <font size="5">Publicerad</font>
            </th>
            <th class="info">
                <font size="5">Lånad</font>
            </th>
            <th class="info">
                <form action="/Borrower/ReloanAll" method="post">
                    <font size="5">Lämnas tillbaka</font>
                    <input name="reloanAll" value="Låna om alla" type="submit" style="float: right" class="btn btn-info" />
                </form>
            </th>
            @for (int i = 0; i < 3; i++)
            {
                <tr>
                    <td>
                        <a href="http://www.google.se">
                            @Model.books[i].book.Title
                        </a>
                    </td>
                    <td>
                        <a href="http://www.google.se">
                            @Model.books[i].author.FirstName @Model.books[i].author.LastName
                        </a>
                    </td>
                    <td>
                        <a href="http://www.google.se">
                            @Model.books[i].book.ISBN
                        </a>
                    </td>
                    <td>
                        (@Model.books[i].book.PublicationYear)
                    </td>
                    <td>
                        @Model.books[i].borrow.BorrowDate
                    </td>
                    <td>
                        @Model.books[i].borrow.ToBeReturnedDate
                        @if (false)
                        {
                            <input value="Utgången" disabled class="btn btn-danger pull-right" />
                        }
                        else
                        {
                            <input value="Låna om" type="submit" class="btn btn-default pull-right" />
                        }
                    </td>
                </tr>
            }
        </table>
</div>
