@model MurvasBokhandel.Models.Mockup

@{
    ViewBag.Title = "Borrow Section";
}

<h2>Lånade böcker</h2>
<div>
        <table class="table table-striped table-hover">
            <th class="info">
                <font size="5">Titel</font>
            </th>
            <th class="info">
                <font size="5">Författare</font>
            </th>
            <th class="info">
                <font size="5">ISBN</font>
            </th>
            <th class="info">
                <font size="5">Publicerad</font>
            </th>
            <th class="info">
                <font size="5">Lånad</font>
            </th>
            <th class="info">
                <form action="/Borrower/ReloanAll" method="post">
                    <font size="5">Lämnas tillbaka</font>
                </form>
            </th>
            <th class="info">
                <font size="5">Återlämad</font>
                <input name="reloanAll" value="Låna om alla" type="submit" style="float: right" class="btn btn-info" />
            </th>
            @for (int i = 0; i < 4; i++)
            {
                <form action="/Borrower/Reloan" method="post">
                <input type="hidden" value="@i" name="index" />
                <tr>
                    <td>
                        <a href="http://www.google.se">
                            @Model.books[i].book.Title
                        </a>
                    </td>
                    <td>
                        <a href="http://www.google.se">
                            @Model.books[i].author.FirstName @Model.books[i].author.LastName
                        </a>
                    </td>
                    <td>
                        <a href="http://www.google.se">
                            @Model.books[i].book.ISBN
                        </a>
                    </td>
                    <td>
                        (@Model.books[i].book.PublicationYear)
                    </td>
                    <td>
                        @{
                            DateTime date = @Model.books[i].borrow.BorrowDate;
                            string d = date.ToString();
                        }
                        @d.Substring(0, 10)
                    </td>
                    <td>
                        @{
                            date = @Model.books[i].borrow.ToBeReturnedDate;
                            d = date.ToString();
                        }
                        @d.Substring(0, 10)
                    </td>
                    <td>
                        @{
                            date = @Model.books[i].borrow.ReturnDate;
                            d = date.ToString();
                        }
                        
                        @if (@Model.books[i].borrow.ReturnDate != DateTime.MinValue)
                        {
                            @: @d.Substring(0,10)
                        }
                        else if (@DateTime.Today > @Model.books[i].borrow.ToBeReturnedDate)
                        {
                            <input value="Försenad" disabled class="btn btn-danger pull-right" />
                        }
                        else
                        {
                            <input value="Låna om" type="submit" class="btn btn-default pull-right" />
                        }
                    </td>
                </tr>
                </form>
            }
</table>
</div>
