@model Common.Model.BorrowerWithBorrows
@{
    ViewBag.Title = "Borrower";
}

<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">
            @Model.BorrowerWithUser.Borrower.FirstName @Model.BorrowerWithUser.Borrower.LastName - <small><a href="/BorrowerAdmin">Låntagare</a></small>
            @if (Model.BorrowerWithUser.User == null)
            {
                <button type="button" class="btn btn-info btn-sm pull-right" data-toggle="modal" data-target="#add-user">
                    <i class="fa fa-plus"></i> Skapa konto
                </button>
            }
            else
            {
                <font size="5" color="green" style="float:right"> Konto finns</font>
            }
        </h1>
    </div>
</div>
<div class="row">
    <div class="col-md-4">
        <h4>Låntagarinformation</h4>
        @using (Html.BeginForm("Update", "BorrowerAdmin"))
        {
            @Html.HiddenFor(m => m.BorrowerWithUser.Borrower.PersonId)
            <div class="form-group">
                <label>Personnummer</label>
                @Html.TextBoxFor(m => m.BorrowerWithUser.Borrower.PersonId, new { @class = "form-control", @disabled = "disabled" })
            </div>
            <div class="form-group">
                <label>Förnamn</label>
                @Html.TextBoxFor(m => m.BorrowerWithUser.Borrower.FirstName, new { @class = "form-control" })
            </div>
            <div class="form-group">
                <label>Efternamn</label>
                @Html.TextBoxFor(m => m.BorrowerWithUser.Borrower.LastName, new { @class = "form-control" })
            </div>
            <div class="form-group">
                <label>Adress</label>
                @Html.TextBoxFor(m => m.BorrowerWithUser.Borrower.Address, new { @class = "form-control" })
            </div>
            <div class="form-group">
                <label>Telefonnummer</label>
                @Html.TextBoxFor(m => m.BorrowerWithUser.Borrower.Telno, new { @class = "form-control" })
            </div>
            <div class="form-group">
                @Html.DropDownListFor(m => m.BorrowerWithUser.Borrower.CategoryId, new SelectList(Model.Categories, "CatergoryId", "Category"), new { @class = "form-control" })
            </div>
            <div class="form-group">
                <input type="submit" class="btn btn-warning" value="Uppdatera" />
                <button type="submit" class="btn btn-danger pull-right" form="form-remove-borrower">Ta bort</button>
            </div>
        }

        @using (Html.BeginForm("Remove", "BorrowerAdmin", FormMethod.Post, new { @id = "form-remove-borrower" }))
        {
            @Html.HiddenFor(m => m.BorrowerWithUser.Borrower.PersonId)
        }
    </div>
    <div class="col-md-8">
        <h4>Lånade böcker</h4>
        <table class="table">
            <thead>
                <tr>
                    <th>Barcode</th>
                    <th>Lånad den</th>
                    <th>Lämnas tillbaka</th>
                    <th>Status</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var borrowed in Model.Borrows)
                {
                    <tr>
                        <td>@borrowed.Barcode</td>
                        <td>@borrowed.BorrowDate.ToShortDateString()</td>
                        <td>@borrowed.ToBeReturnedDate.ToShortDateString()</td>
                        <td><span class="label label-warning">Lånas under tid</span></td>
                        <td><a href="/BorrowerAdmin/RenewLoan/?barcode=@borrowed.Barcode&personid=@borrowed.PersonId" class="btn btn-default btn-xs">Låna om</a></td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
    <!-- Modal -->
    <div class="modal fade" id="add-user" tabindex="-1" role="dialog" aria-labelledby="AddUser">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">Skapa konto</h4>
                </div>
                <div class="modal-body">
                    <form action="/BorrowerAdmin/AddUser" method="post" id="form-addusertoborrower">
                        <input type="hidden" name="Aid" value="@Model.BorrowerWithUser.Borrower.PersonId" />
                        <div class="form-group">
                            @using (Html.BeginForm("AddUser", "BorrowerAdmin"))
                            { 
                                <label>Personnummer</label>
                                @Html.TextBoxFor(m => m.BorrowerWithUser.Borrower.PersonId, new { @class = "form-control", @disabled = "disabled" })
                                <label>E-mail</label>
                                @Html.TextBoxFor(m => m.BorrowerWithUser.User.Email, new { @class = "form-control" }) 
                                <label>Password</label>
                                @Html.PasswordFor(m => m.BorrowerWithUser.User.Password, new { @class = "form-control" })
                                <label>Role</label>
                                @Html.TextBoxFor(m => m.BorrowerWithUser.User.RoleId, new { @class = "form-control" })
                            }
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Stäng</button>
                    <button class="btn btn-primary" form="form-addbooktoauthor">Spara</button>
                </div>
            </div>
        </div>
    </div>

</div>
