@model MurvasBokhandel.Models.BorrowerWithBorrows
@{
    ViewBag.Title = "Borrower";
}

<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">
            @Model.Borrower.FirstName @Model.Borrower.LastName - <small><a href="/BorrowerAdmin">Låntagare</a></small>
        </h1>
    </div>
</div>
<div class="row">
    <div class="col-md-4">
        <h4>Låntagarinformation</h4>
        @using (Html.BeginForm("Update", "BorrowerAdmin"))
        {
            @Html.HiddenFor(m => m.Borrower.PersonId)
            <div class="form-group">
                <label>Personnummer</label>
                @Html.TextBoxFor(m => m.Borrower.PersonId, new { @class = "form-control", @type = "number", @disabled = "disabled" })
            </div>
            <div class="form-group">
                <label>Förnamn</label>
                @Html.TextBoxFor(m => m.Borrower.FirstName, new { @class = "form-control" })
            </div>
            <div class="form-group">
                <label>Efternamn</label>
                @Html.TextBoxFor(m => m.Borrower.LastName, new { @class = "form-control" })
            </div>
            <div class="form-group">
                <label>Adress</label>
                @Html.TextBoxFor(m => m.Borrower.Address, new { @class = "form-control" })
            </div>
            <div class="form-group">
                <label>Telefonnummer</label>
                @Html.TextBoxFor(m => m.Borrower.Telno, new { @class = "form-control" })
            </div>
            <div class="form-group">
                <input type="submit" class="btn btn-warning" value="Uppdatera" />
                <button type="submit" class="btn btn-danger pull-right" form="form-remove-borrower">Ta bort</button>
            </div>
        }

        @using (Html.BeginForm("Remove", "BorrowerAdmin", FormMethod.Post, new { @id = "form-remove-borrower" }))
        {
            @Html.HiddenFor(m => m.Borrower.PersonId)
        }
    </div>
    <div class="col-md-8">
        <h4>Lånade böcker</h4>
        <table class="table">
            <thead>
                <tr>
                    <th>Barcode</th>
                    <th>Lånad den</th>
                    <th>Lämnas tillbaka</th>
                    <th>Status</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var borrowed in Model.Borrows)
                {
                    <tr>
                        <td>@borrowed.Barcode</td>
                        <td>@borrowed.BorrowDate.ToShortDateString()</td>
                        <td>@borrowed.ToBeReturnedDate.ToShortDateString()</td>
                        <td><span class="label label-warning">Lånas under tid</span></td>
                        <td><a href="/BorrowerAdmin/RenewLoan/?barcode=@borrowed.Barcode&personid=@borrowed.PersonId" class="btn btn-default btn-xs">Låna om</a></td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
