@model MurvasBokhandel.Models.BookWithAuthor

@{
    ViewBag.Title = "GetBook";
}

<h2>Böcker</h2>


<div class="row">
    <div class="col-md-12">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>Författare</th>
                    <th></th>
                    <th>Titel</th>
                    <th>ISBN</th>
                    <th>Publikaionsår</th>
                    <th>PublikationsInformation</th>
                    <th>Antal sidor</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td><a href="/Author/GetAuthor/?aid=@Model.Author.Aid">@Model.Author.FirstName</a></td>
                    <td><a href="/Author/GetAuthor/?aid=@Model.Author.Aid">@Model.Author.LastName</a></td>
                    <td>@Model.Book.Title</td>
                    <td>@Model.Book.ISBN</td>
                    <td>@Model.Book.PublicationYear</td>
                    <td>@Model.Book.Publicationinfo</td>
                    <td>@Model.Book.Pages</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

