@model MurvasBokhandel.Models.AuthorWithBooks
@{
    ViewBag.Title = "Author";
}

<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">
            @Model.Author.FirstName @Model.Author.LastName - <small><a href="/AuthorAdmin">Författare</a></small>
        </h1>
    </div>
</div>
<div class="row">
    <div class="col-md-4">
        <h4>Redigera författare</h4>
        @using (Html.BeginForm("Update", "AuthorAdmin", FormMethod.Post))
        {
            @Html.HiddenFor(m => m.Author.Aid)
            <div class="form-group">
                <label>Förnamn</label>
                @Html.TextBoxFor(m => m.Author.FirstName, new { @class = "form-control" })
            </div>
            <div class="form-group">
                <label>Efternamn</label>
                @Html.TextBoxFor(m => m.Author.LastName, new { @class = "form-control" })
            </div>
            <div class="form-group">
                <input type="submit" class="btn btn-warning" value="Updatera" />
                <button class="btn btn-danger pull-right" form="form-remove-author" >Ta bort</button>
            </div>
            
            if (ViewBag.Alert != null)
            {
                <div class="alert alert-@ViewBag.Status" role="alert">@ViewBag.Alert</div>
            }
        }
        @using (Html.BeginForm("Remove", "AuthorAdmin", FormMethod.Post, new { @id = "form-remove-author" }))
        {
            @Html.HiddenFor(m => m.Author.Aid)
        }
    </div>
    <div class="col-md-8">
        <h4>Böcker av @Model.Author.FirstName @Model.Author.LastName
            <button type="button" class="btn btn-default btn-sm pull-right" data-toggle="modal" data-target="#add-book">
                <i class="fa fa-plus"></i> Lägg till bok på författare
            </button>
        </h4>
        <table class="table">
            <thead>
                <tr>
                    <th>ISBN</th>
                    <th>Titel</th>
                    <th>Information</th>
                </tr>
            </thead>
            <tbody>
                @if (Model.Books.Count != 0)
                {
                    foreach (var book in Model.Books)
                    {
                        <tr>
                            <td>@book.ISBN</td>
                            <td><a href="/BookAdmin/Book/@book.ISBN">@book.Title</a></td>
                            <td>@book.Publicationinfo</td>
                        </tr>
                    }
                }
            </tbody>
        </table>

        <!-- Modal -->
        <div class="modal fade" id="add-book" tabindex="-1" role="dialog" aria-labelledby="AddBook">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="myModalLabel">Lägg till en bok</h4>
                    </div>
                    <div class="modal-body">
                        <form action="/AuthorAdmin/AddBookToAuthor" method="post" id="form-addbooktoauthor">
                            <input type="hidden" name="Aid" value="@Model.Author.Aid" />
                            <div class="form-group">
                                <label>ISBN</label>
                                <input type="number" class="form-control" name="ISBN" placeholder="ex. 9999999999" />
                            </div>
                            <div class="form-group">
                                <label>Titel</label>
                                <input type="text" class="form-control" name="Title" placeholder="ex. Harry Potter och Hemligheternas Kammare" />
                            </div>
                            <hr />
                            <div class="form-group">
                                <label>Publikationsår</label>
                                <input type="number" class="form-control" name="Publicationyear" placeholder="ex. 1990">
                            </div>
                            <div class="form-group">
                                <label>Publikationsinformation</label>
                                <textarea class="form-control" name="Publicationinfo" placeholder="..."></textarea>
                            </div>
                            <div class="form-group">
                                <label>Antal sidor</label>
                                <input type="text" class="form-control" name="Pages" placeholder="ex. 578" />
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Stäng</button>
                        <button class="btn btn-primary" form="form-addbooktoauthor">Spara</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

